# =========================
# Python cache / build
# =========================
__pycache__/
*.py[cod]
*.pyd
.ipynb_checkpoints/

# =========================
# Virtual environments
# =========================
venv/
.venv/
.env/

# =========================
# Logs
# =========================
*.log

# =========================
# Generated datasets
# =========================
data/processed/
data/raw/
data/merged/
scripts/data/
data/sft

# =========================
# Training runs / outputs
# =========================
runs/
outputs/

# =========================
# Model artifacts (large)
# =========================
llama32_1b_hcverma_sft/
*.safetensors

# =========================
# Database files
# =========================
*.db
*.sqlite3