# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database files
*.db
*.sqlite3

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environment
.env
venv/

# Data files
data/

# Model checkpoints (not needed)
llama32_1b_hcverma_sft/checkpoint-289/

# Large model weight file (LoRA adapter weights)
llama32_1b_hcverma_sft/adapter_model.safetensors

# Training metadata (useless outside training)
llama32_1b_hcverma_sft/training_args.bin



